body {
    font-family: sans-serif;
    background: rgb(148, 240, 186);
}


h2 {
    color: red;
    text-align: center;
    padding: 20px;
}

form {
    background: rgb(57, 155, 185);
    width: 450px;
    padding: 20px 10px;
    margin: auto;       
}

input {
    padding: 15px;
    margin-bottom: 20px;     
}
textarea {
    width: 90%;
    min-height: 100px;
}
.enviar {
    margin: auto;
    background: rgb(5, 54, 77);
    color: white;
    text-align: center;
    display: flex;
}
